@font-face {
    font-family: 'questrial';
    src: url('./fonts/questrial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'questrial', 'Avenir', Verdana, Geneva, Tahoma, sans-serif;
}

body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

nav {
    display: flex;
    gap: 1rem;
}

button {
    padding: 0.5rem;
}

div.page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

img {
    width: 400px;
    height: auto;
}

li {
    margin-left: 1rem;
}